body {
    font-family: sans-serif;
    font-size: 22px;
}

header {
    background-color: rgb(193, 178, 235);
    border-radius: 10px;
}

header img {
    border-radius: 10px;
    border: 3px solid black;
}

nav a {
    margin: 30px;
    text-decoration: none;
    border-radius: 8px;
    padding: 3px; 
    font-size: 21px;
    border: none;
    }

main h2 {
    background-color:  rgb(179, 161, 228);
    border-radius: 10px;
    padding: 3px; 
}

main p a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid rgb(159, 143, 202);;
    border-radius: 15px;
}

header b {
    font-size: 20px;
}

.image {
    border: 3px solid rgb(186, 171, 233);
    border-radius: 17px;
}

a {
    text-decoration: none;
    border: 2px solid  rgb(186, 171, 233);
    padding: 3px;
    border-radius: 10px;
    font-size: 20px;
}

p {
    font-size: 22px;
}

.cont {
    background-color:  rgb(186, 171, 233);
    padding: 5px;
    border-radius: 15px;
}

.v {
    font-size: 24px;
}

.p {
   font-size: 20px; 
   border: none;
}
